.navbar {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 15px;
}
.navbar-brand {
    color: white;
}
.navbar-brand img {
    width: 30px;
    height: 24px;
}
.navbar-nav a {
    color: white;
    margin-right: 10px;
}
.form-inline input {
    margin-right: 10px;
}
.btn-outline-light:hover{
    background-color: rgb(93, 92, 92);
}
.btn-login{
    color: yellow;
    background-color: dimgray;
    border: 0;
}
.btn-logout{
    color: red;
    background-color: wheat;
    border: 0;
}
.btn-search{
    background-color: green;
    color: white;
}

.container-fluid{
    background-color: black;
    padding: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    position: fixed;
    z-index: 99;
}

/*Responsive Code snippet*/
@media only screen and (max-width: 600px) {
    .content-left,
    .content-middle,
    .content-right {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .form-control {
        width: 80%;
        margin-bottom: 10px;
    }

    .btn-outline-success {
        width: 80%;
    }

    .navbar-right {
        margin-top: 10px;
    }
    nav {
        margin-top: 40px;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 530px) {
    .content-left,
    .content-middle,
    .content-right {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .form-control {
        width: 80%;
        margin-bottom: 10px;
    }

    .btn-outline-success {
        width: 80%;
    }

    .navbar-right {
        margin-top: 10px;
    }
    nav {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .container-fluid{
        margin-top: 45px;
        padding-top: 45px;
    }
}

@media only screen and (max-width: 520px) {
    .content-left,
    .content-middle,
    .content-right {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .form-control {
        width: 80%;
        margin-bottom: 10px;
    }

    .btn-outline-success {
        width: 80%;
    }

    .navbar-right {
        margin-top: 10px;
    }
    nav {
        margin-top: 80px;
        margin-bottom: 80px;
        padding-bottom: 80px;
    }
    .container-fluid{
        margin-top: 45px;
        padding-top: 45px;
    }
}