<nav id="toggle-sidebar-menu" #sidebarmenu>
    <button type="button" id="toggle-btn" (click)="toggle()">
        <fa-icon [icon]="faBars"></fa-icon>

    </button>
    
    <span>MovieShareLibrary</span>
    <ul class="sidebar-menu">
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/now-playing-movie">Now Playing</a></li>
        <li><a routerLink="/top-rated-movies">Top Rated Movies</a></li>
        <li><a routerLink="/popular-movie">Popular Movies</a></li>
        <li><a routerLink="/coming-soon">Coming Soon</a></li>
    </ul>
</nav>


