<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [showCloseIcon]="true">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar1 = false" label="Cancel" styleClass="p-button-secondary"></p-button>
    <p-panelMenu [model]="items" [style]="{'width':'300px', 'padding':'20px'}"></p-panelMenu>
</p-sidebar>
<p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars" pRipple class="primery-box"></p-button>

